
.feed-header {
  display: block;
  background-color: #fff;

  border-bottom: 1px solid rgba(0,0,0,.08);
}

.feed-header-nav {
  width: 1010px;
  margin: auto;

}
.feed-header h1 {
  display: block;
  float: left;
  height: 77px;
}

.logo {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: Cookie;
  font-size: 36px;
}

.logo-icon {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
