.content-main{
    display: block;
    width: 600px;
    margin: auto;
}

.post-header, .post-footer {
  display: block;
  width: 100%;
  background-color: white;
  border-left: 1px solid rgba(0,0,0,.08);
  border-right: 1px solid rgba(0,0,0,.08);
}
.post-header {
  height: 64px;
  border-top: 1px solid rgba(0,0,0,.08);
}

.post-footer {
  height: 150px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.post img {
  width: 100%;
  height: auto;
}
