.modal {
  display: block;
  position: fixed;
  top: 0;
  overflow: auto;
  margin: 0;
  width: 100%;
  height: 1000px;
  background: pink;
  visibility: hidden;
  background-color: rgba(0,0,0,.5);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.modal-button {
  content: '\00D7';
  display: block;
  float: right;
  position: relative;
  top: 30px;
  right: 50px;
  color: #fff;
  background: none;
  border: none;
  line-height: 24px;
  padding: 0;
  margin: 0px;
  font-family: fantasy;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}

.modal-children {
  display: block;
  float: right;
  position: relative;
  width: 100%;
  margin-top: 180px;
}

.form-container {
  /*display: none !important;*/
}

.form-container h1{
  display: block;
  background: #fff;
  padding: 10px 20px;
  border: 1px solid rgb(219, 219, 219);
  display: block;
  position: relative;
  width: 343px;
  margin: auto;
  font-weight: bold;
  text-align: center;
  border-bottom: none;
  letter-spacing: 2px;
}

.upload-form input {
  background: #fff;
  padding: 20px;
  border: 1px solid rgb(219, 219, 219);
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
}

.form-container button{
  display: block;
  background: #fff;
  padding: 10px 20px;
  border: 1px solid rgb(219, 219, 219);
  display: block;
  position: relative;
  width: 343px;
  margin: auto;
  font-weight: bold;
  text-align: center;
  border-top: none;
  letter-spacing: 2px;
}
