@font-face {
  font-family: Hi;
  src: local("../fonts/618250d25a4d.woff"),

}



.post-header-av {
  display: block;
  float: left;
  height: 32px;
  width: 32px;
  margin-right: 10px;
  /*border: 1px solid black;*/

  border-radius: 50%;
}

.post-header-detail {
  display: block;
  float: left;
}

.post-header-uname {

  font-weight: bold;
  font-size: 13px;
  color: rgb(38, 38, 38);
}

.post-header-location {

  font-size: 14px;
}

.post-header-timestamp {
  display: block;
  float: right;
  font-size: 15px;
  color: #999;
  font-weight: 400;

}

.content-main{
    display: block;
    width: 600px;
    margin: auto;
}

.post-footer {
  display: block;
  background-color: white;
  border-left: 1px solid rgba(0,0,0,.08);
  border-right: 1px solid rgba(0,0,0,.08);

}
.post-header {
  background-color: white;
  padding: 14px 20px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(48, 57, 66);
  border-left: 1px solid rgba(0,0,0,.08);
  border-right: 1px solid rgba(0,0,0,.08);
  border-top: 1px solid rgba(0,0,0,.08);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

}

.post-footer {
  padding: 20px 24px;
  margin-bottom: 65px;
  border-bottom: 1px solid rgba(0,0,0,.08);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.post img {
  width: 100%;
  height: auto;
}



.likes-count {
  display: block;
  font-size: 14px;

  font-weight: 600;

}

.comments-create {
  display: block;
  width: 100%;
  height: 62px;
  margin-top: 13px;
  border-top: 1px solid #efefef;
}

.like-image {
  display: block;
  margin-top: 10px;
  float: left;
  width: 32px;
  height: 32px;
}

 .like-button {
  background: none;
  border: none;
  cursor: pointer;
}

.like-button:focus {
  outline:0;
}
