.profile-container {
  display: block;
  width: 975px;
  margin: auto;
  padding: 60px 20px 0;
  position: relative;
  top: -44px;
}

.profile-modal {
  display: none;
}

.profile-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 29px;

}

.picture-container {
  display: flex;
  flex-direction: column;
  float: left;
  width: 291.67px;
  align-items: center;
  margin-right: 30px;
}
.picture-button {
  display: block;
  float: left;
  border: none;
  background: none;
  /*border: 1px solid black;*/
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
}

.detail-container {
  width: 613.33px;
}

.user-detail {
  display: flex;
flex-direction: row;
position: relative;
margin-bottom: 20px;
justify-content: initial;
}

.user-detail h1{
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 3px;
  display: block;
}


.stats span {
  font-weight: bold;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.stats li {
  margin-right: 40px;
}

.form-container {
  display: block;
  width: 100%;

}

.follow-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: inherit;
  text-align: inherit;
}

.follow-button{
  display: block;
  align-items: baseline;
  font-size: 16px;
  font-weight: bold;
  padding: 0 11px;
  height: 29px;
  margin-left: 20px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-weight: 600;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  -webkit-appearance: none;
  cursor: pointer;
}

.add-button {
  background: 0 0;
  /*border-color: black;
  color: black;*/
  background: 0 0;
  /*background: #3897f0;
  color: #fff;*/
  border-color: #3897f0;
  color: #3897f0;
}

.Follow {
  background: 0 0;
  border-color: #3897f0;
  color: #3897f0;
}

.Following {
  background: #70c050;
  border-color: #70c050;
  color: #fff;
}

.logout-button {
  margin-left: 54px;
  background: none;
  border: none;
  height: 31px;
  align-items: center;
  position: relative;
  top: 9px;
  cursor: pointer;
}

.logout-button img {
  display: block;
  width: 25px;
  height: 25px;

}

.message {
  font-size: 24px;
  display: block;
  position: relative;
  margin: auto;
  padding: 20px 0;
  text-align: center;
  color: #ccc;
}
