

.post-list-item{
  /*display: flex;
  float: left;
  height: 293px;
  width: 293px;
  margin: 15px;
  align-items: center;
  overflow: hidden;
  text-align: center;*/

  display: flex;
  flex-direction: column;
  float: left;
  height: 293px;
  width: 293px;
  margin: 15px;
  align-items: center;
  overflow: hidden;
}



.profile-post {
  /*-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;*/
  width: auto;
  height: 100%;
  /*display: block;
  float: left;
  height: 293px;
  width: 293px;
  margin: 15px;*/
  cursor: pointer
}


.post-list-item:hover {
  background: #3498db;
  /*background-color: rgba(0,0,0,.5);*/
}
.profile-post:hover{

	opacity: .5;
}
