.search-input {
  background: #fafafa;
  border: 1px solid #dbdbdb;
  width: 177px;
  padding: 3px 10px 3px 10px;
  border-radius: 3px;
}



.search-input::-webkit-input-placeholder {
  text-align: center;
  font-weight: lighter;
  font-size: 14px;
}
 /*::-moz-placeholder          {color:#c0392b;}
 :-moz-placeholder           {color:#c0392b;}
 :-ms-input-placeholder      {color:#c0392b;}*/

.search-results-container {
  display: block;
  float: left;
  margin-right: 20%;
}

.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;

  margin-top: 12px;

  z-index: 3;
  box-shadow: 0 0 5px rgba(0,0,0,.13);
}
._pnw2j {

}

.triangle {
  content: "";
  display: block;
  visibility: visible;
  background: #fff;
  box-shadow: -3px -3px 9px -1px rgba(0,0,0,.13);
  z-index: 5;
  position: absolute;
  left: 0;
  right: 7px;
  top: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  height: 14px;
  margin: auto;
  width: 14px;
    /*border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 10px 10px;
    height: 0;
    left: 110px;
    top: -10px;
    width: 0;
    z-index: 3;*/
}

.search-item {
  background: #fff;
  float: left;
  width: 157px;
  padding: 10px 20px;
  border: 1px solid #dbdbdb;
  border-bottom: none;
  cursor: pointer;
}

.triangle {
  content: "";
  display: block;
  visibility: inherit;
  background: #fff;
  box-shadow: -3px -3px 9px -1px rgba(0,0,0,.13);
  z-index: 5;
  position: absolute;
  left: 0;
  right: 7px;
  top: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  height: 14px;
  margin: auto;
  width: 14px;
}

.search-item h1 {
  font-size: 13px;
  font-weight: bold;
}


.search-item:hover{
  background: #fafafa;
}

.search-item:last-child {
  border-bottom: 1px solid #dbdbdb;
}

.search-av {
  display: block;
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}

.search-pic {
  display: block;
  float: left;
}
